<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Slabo+13px" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="../Content/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../Content/css/styles.css">
		<title>Address Book</title>
	</head>
	<body>
		<div class="container">

		<h1>Add a new contact:</h1>

		<form action="/new_contact" method="post">
			<div class="form-group">
				<label for="name">Name:</label>
				<input id="name" type="text" name="name">
			</div>
			<div class="form-group">
				<label for="phone">Phone:</label>
				<input id="phone" type="text" name="phone">
			</div>
			<div class="form-group">
				<label for="address">Address:</label>
				<input id="address" type="text" name="address">
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

		</div>
	</body>
</html>