<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Slabo+13px" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="../Content/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../Content/css/styles.css">
		<title>Address Book</title>
	</head>
	<body>
		<div class="container">

		<h1>Your address book is cleared!</h1>

		<a href="/contact_list"><button class="btn btn-primary">Return To List</button></a>
		<a href="/new"><button class="btn btn-primary">Add a New Contact</button></a>

		</div>
	</body>
</html>