You've added a new contact!

        <div class="contact">
			<ul>
				<h3>@Model.GetName()</h3>
				<li>@Model.GetPhone()</li>
				<li>@Model.GetAddress()</li>
			</ul>
	    </div>


<a href="/contact_list">View list</a>
<a href="/new">Add another contact</a>