<!DOCTYPE html>
<html>
	<head>
		<link href="https://fonts.googleapis.com/css?family=Slabo+13px" rel="stylesheet"> 
		<link rel="stylesheet" type="text/css" href="../Content/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../Content/css/styles.css">
		<title>Address Book</title>
	</head>
	<body>
		<div class="container">

		<h1>You've added a new contact!</h1>

		        <div class="contact">
		        	<h3>@Model.GetName()</h3>
					<ul>
						<li>@Model.GetPhone()</li>
						<li>@Model.GetAddress()</li>
					</ul>
			    </div>


		<a href="/contact_list"><button class="btn btn-primary">View List</button></a>
		<a href="/new"><button class="btn btn-primary">Add Another Contact</button></a>

		</div>
	</body>
</html>